# Config file for automatic testing at travis-ci.org
sudo: required
language: python
python:
  - 3.6
  - 3.5
  - 3.4
  - 2.7
dist: trusty
addons:
  chrome: stable

before_install:
  - wget -O /tmp/chromedriver.zip https://chromedriver.storage.googleapis.com/$CHROMEDRIVER/chromedriver_linux64.zip
  - mkdir $HOME/chromedriver && unzip /tmp/chromedriver.zip -d $HOME/chromedriver
  - export PATH=$HOME/chromedriver:$PATH
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

# Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: 
  - pip install -U codecov
  - pip install -U tox-travis

# Command to run tests, e.g. python setup.py test
script: tox

jobs:
  include:
    - stage:
      python: 3.6
      env: TOXENV=py36 CHROMEDRIVER=78.0.3904.70 ARE_ON_TRAVIS=1
    - stage:
      python: 3.5
      env: TOXENV=py35 CHROMEDRIVER=78.0.3904.70 ARE_ON_TRAVIS=1
    - stage:
      python: 3.4
      env: TOXENV=py34 CHROMEDRIVER=78.0.3904.70 ARE_ON_TRAVIS=1
    - stage:
      python: 2.7
      env: TOXENV=py27 CHROMEDRIVER=78.0.3904.70 ARE_ON_TRAVIS=1

after_success:
  - codecov
